<div id="about" class="section p-a-0 align-c">
  <div class="container-fluid p-x-0">
    <div class="row row-table">
      <div class="col-sm-4 block-invert p-x-30-sm-max p-x-60-md-min p-t-20-sm-min align-t-sm-min">
        <div class="col-inner p-y-50-sm-min p-y-30-xs-max max-width m-x-auto-xs-max">
          <div class="icon-box _center">
            <div class="icon-box-media">
              <img src="assets/icon/rocket.png" alt="" data-sr="bottom">
            </div>
            <div class="icon-box-heading">
              <h3>About App / Product</h3>
            </div>
            <div class="icon-box-content">
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 block-pink p-x-30-sm-max p-x-60-md-min p-t-20-sm-min align-t-sm-min">
        <div class="col-inner p-y-50-sm-min p-y-30-xs-max max-width m-x-auto-xs-max">
          <div class="icon-box _center">
            <div class="icon-box-media">
              <img src="assets/icon/crown.png" alt="" data-sr="bottom">
            </div>
            <div class="icon-box-heading">
              <h3>About App / Product</h3>
            </div>
            <div class="icon-box-content">
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4 block-light p-x-30-sm-max p-x-60-md-min p-t-20-sm-min align-t-sm-min">
        <div class="col-inner p-y-50-sm-min p-y-30-xs-max max-width m-x-auto-xs-max">
          <div class="icon-box _center">
            <div class="icon-box-media">
              <img src="assets/icon/diamond.png" alt="" data-sr="bottom">
            </div>
            <div class="icon-box-heading">
              <h3>About App / Product</h3>
            </div>
            <div class="icon-box-content">
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- #about -->
