<div id="brief_1" class="section block-default align-c-xs-max">
  <div class="container">
    <div class="row row-table">
      <div class="col-sm-6">
        <div class="col-inner">
          <div class="section-heading">
            <h5>Flat Style Landing Page</h5>
            <h2>App Brief Section #1</h2>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
          </div> <!-- .section-heading -->
          <div class="section-content">
            <ul class="icon-list align-l m-t-30">
              <li><img src="assets/icon/chat.png" alt=""> Quisque sapien metus, ornare ac suscipit eget.</li>
              <li><img src="assets/icon/pencil.png" alt=""> Quisque sapien metus, ornare ac suscipit eget.</li>
              <li><img src="assets/icon/skull.png" alt=""> Quisque sapien metus, ornare ac suscipit eget.</li>
            </ul>
            <a class="btn btn-primary m-y-5" href="#brief_2">Learn More</a>
            <a class="btn btn-invert m-y-5" href="#brief_2">More Button</a>
          </div> <!-- .section-content -->
        </div>
      </div>
      <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
        <div class="col-inner clearfix">
          <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="assets/item/brief-1.png" alt="" data-sr="right">
        </div>
      </div>
    </div>
  </div>
</div> <!-- #brief_1 -->

<div id="brief_2" class="section block-warning align-c-xs-max">
  <div class="container">
    <div class="row row-table">
      <div class="col-sm-6 m-b-60-xs-max p-r-60-md-min">
        <div class="col-inner clearfix">
          <img class="img-responsive float-l-sm-min m-x-auto-xs-max" src="assets/item/brief-2.png" alt="" data-sr="left">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="col-inner">
          <div class="section-heading">
            <h5>Flat Style Landing Page</h5>
            <h2>App Brief Section #2</h2>
          </div> <!-- .section-heading -->
          <div class="section-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in scelerisque nisi, a convallis nibh. Etiam posuere faucibus lectus, quis volutpat urna consequat et. Aenean rutrum dui in turpis feugiat, at facilisis dui laoreet.</p>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
            <a class="btn btn-success m-y-5" href="#brief_3">Learn More</a>
            <a class="btn btn-pink m-y-5" href="#brief_3">More Button</a>
          </div> <!-- .section-content -->
        </div>
      </div>
    </div>
  </div>
</div> <!-- #brief_2 -->

<div id="brief_3" class="section block-success align-c-xs-max">
  <div class="container">
    <div class="row row-table">
      <div class="col-sm-6">
        <div class="col-inner">
          <div class="section-heading">
            <h5>Flat Style Landing Page</h5>
            <h2>App Brief Section #3</h2>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores.</p>
          </div> <!-- .section-heading -->
          <div class="section-content">
            <ul class="icon-list align-l m-t-30">
              <li><img src="assets/icon/camera.png" alt=""> Quisque sapien metus, ornare ac suscipit eget.</li>
              <li><img src="assets/icon/support.png" alt=""> Quisque sapien metus, ornare ac suscipit eget.</li>
              <li><img src="assets/icon/paint.png" alt=""> Quisque sapien metus, ornare ac suscipit eget.</li>
            </ul>
            <a class="btn btn-primary m-y-5" href="#pricing">Our Plan</a>
            <a class="btn btn-invert m-y-5" href="#pricing">More Button</a>
          </div> <!-- .section-content -->
        </div>
      </div>
      <div class="col-sm-6 m-t-60-xs-max p-l-60-md-min">
        <div class="col-inner clearfix">
          <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="assets/item/brief-3.png" alt="" data-sr="right">
        </div>
      </div>
    </div>
  </div>
</div> <!-- #brief_3 -->