<div id="contact" class="section block-default">
  <div class="container">
    <div class="section-heading text-center">
      <h5>Flat Style Landing Page</h5>
      <h2>Get in touch with us</h2>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
    </div>
    <div class="row section-content m-t-60-sm-min">
      <div class="col-sm-6 col-md-5">
        <div class="col-inner">
          <div class="icon-box _left">
            <div class="icon-box-media">
              <img src="assets/icon/mobile.png" alt="" data-sr="bottom">
            </div>
            <div class="icon-box-heading">
              <h4>Phone Number</h4>
            </div>
            <div class="icon-box-content font-sub font-italic">
              <span>(00) 123-4567890 (tel-1)</span>
              <br>
              <span>(00) 123-4567890 (tel-2)</span>
            </div>
          </div>

          <div class="icon-box _left">
            <div class="icon-box-media">
              <img src="assets/icon/mail.png" alt="" data-sr="bottom">
            </div>
            <div class="icon-box-heading">
              <h4>Email Address</h4>
            </div>
            <div class="icon-box-content font-sub font-italic">
              <span>email_1@example.com</span>
              <br>
              <span>email_2@example.com</span>
            </div>
          </div>

          <div class="icon-box _left">
            <div class="icon-box-media">
              <img src="assets/icon/pin.png" alt="" data-sr="bottom">
            </div>
            <div class="icon-box-heading">
              <h4>Business address</h4>
            </div>
            <div class="icon-box-content font-sub font-italic">
              <span>631 Main Street Cottage,</span>
              <br>
              <span>Long Branch, P.O Box 55016</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-offset-1 m-t-60-xs-max">
        <div class="col-inner">
          <form class="_default" id="contactForm" novalidate="novalidate">
            <div class="form-group required">
              <label class="form-label" for="contactName">Your name</label>
              <input class="form-control" id="contactName" type="text" name="name">
            </div>
            <div class="form-group required">
              <label class="form-label" for="contactEmail">Email address</label>
              <input class="form-control" id="contactEmail" type="text" name="email">
            </div>
            <div class="form-group required">
              <label class="form-label" for="contactMessage">Message</label>
              <textarea class="form-control" id="contactMessage" rows="4" name="message"></textarea>
            </div>
            <div class="btn-wrap">
              <button type="submit" class="btn btn-primary btn-block">Send Message</button>
            </div>
            <div class="form-notify"></div>
          </form> <!-- #contactForm -->
        </div>
      </div>
    </div>
  </div>
</div> <!-- #contact -->