<div id="download" class="section block-primary align-c">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-inner">
          <div class="section-heading">
            <h5>Download Available</h5>
            <h2>Get It Right Now!</h2>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
          </div>
          <div class="section-content">
            <a class="btn btn-pink m-y-5"><i class="fa fa-android"></i>Google Play</a>
            <a class="btn btn-warning m-y"><i class="fa fa-apple"></i>App Store</a>
          </div> <!-- .section-content -->
        </div>
      </div>
    </div>
  </div>
</div> <!-- #download --> 