<div id="pricing" class="section block-light align-c">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-inner">
          <div class="section-heading">
            <h5>Pricing Table Section</h5>
            <h2>Free And Business Plan</h2>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
          </div>
          <div class="section-content m-t-60-sm-min">
            <div class="row">
              <div class="col-xs-12 col-sm-4">
                <div class="pricing-table m-t-0-xs-max">
                  <div class="pricing-table-header block-invert">
                    <h5 class="pricing-table-caption">Checkmark pricing table</h5>
                    <h2 class="pricing-table-title">FREE</h2>
                  </div>
                  <div class="pricing-table-content block-light">
                    <ul class="pricing-table-list">
                      <li><i class="fa fa-check"></i> Up to 25 users</li>
                      <li><i class="fa fa-check"></i>500 messages</li>
                      <li><i class="fa fa-check"></i>Normal options</li>
                      <li><i class="fa fa-check"></i>Phone support</li>
                    </ul>
                  </div>
                  <div class="pricing-table-footer block-light">
                    <a class="btn btn-primary" href="#download">Download</a>
                  </div>
                </div> <!-- .pricing-table -->
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="pricing-table">
                  <div class="pricing-table-header block-primary">
                    <span class="pricing-table-badge">
                      <i class="fa fa-star"></i>
                    </span>
                    <h5 class="pricing-table-caption">With badge</h5>
                    <h2 class="pricing-table-title"><span>$</span>45<span>/ mo.</span></h2>
                  </div>
                  <div class="pricing-table-content block-light">
                    <ul class="pricing-table-list">
                      <li><i class="fa fa-check"></i> Up to 150 users</li>
                      <li><i class="fa fa-check"></i> 2000 messages</li>
                      <li><i class="fa fa-check"></i> Advanced options</li>
                      <li><i class="fa fa-check"></i> Phone support</li>
                    </ul>
                  </div>
                  <div class="pricing-table-footer block-light">
                    <a class="btn btn-primary" href="#download">Download</a>
                  </div>
                </div> <!-- .pricing-table -->
              </div>
              <div class="col-xs-12 col-sm-4">
                <div class="pricing-table">
                  <div class="pricing-table-header block-pink">
                    <h5 class="pricing-table-caption">Icon pricing table</h5>
                    <h2 class="pricing-table-title"><span>$</span>75<span>/ mo.</span></h2>
                  </div>
                  <div class="pricing-table-content block-light">
                    <ul class="pricing-table-list">
                      <li><i class="fa fa-user-plus"></i> Up to 500 users</li>
                      <li><i class="fa fa-envelope"></i> <span class="color-pink">Unlimited</span> messages</li>
                      <li><i class="fa fa-cog"></i> Advanced options</li>
                      <li><i class="fa fa-support"></i> Phone support</li>
                    </ul>
                  </div>
                  <div class="pricing-table-footer block-light">
                    <a class="btn btn-primary" href="#download">Download</a>
                  </div>
                </div> <!-- .pricing-table -->
              </div>
            </div>
          </div> <!-- .section-content -->
        </div>
      </div>
    </div>
  </div>
</div> <!-- #download -->