<div id="home" class="section block-primary position-r align-c-xs-max">
  <div id="particles-js" class="site-bg">
    <div class="site-bg-img"></div>
    <div class="site-bg-video"></div>
    <div class="site-bg-overlay"></div>
    <div class="site-bg-effect layer" data-depth=".30"></div>
    <canvas class="site-bg-canvas layer" data-depth=".30"></canvas>
  </div> <!-- .site-bg -->

  <div class="container">
    <div class="row row-table">
      <div class="col-sm-6">
        <div class="col-inner" data-sr="left">
          <div class="section-heading">
            <h5>Flat Style Landing Page</h5>
            <h1>A Flat Style Landing Page For Your App / Product</h1>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum</p>
          </div> <!-- .section-heading -->
          <div class="section-content">
            <a class="btn btn-pink m-y-5" href="#about">Learn More</a>
            <a class="btn btn-warning m-y-5" href="#download">Get The App</a>
          </div> <!-- .section-content -->
        </div>
      </div>
      <div class="col-sm-6 col-md-p-l-1 m-t-60-xs-max">
        <div class="col-inner clearfix">
          <img class="img-responsive float-r-sm-min m-x-auto-xs-max" src="assets/item/home.png" alt="" data-sr="right">
        </div>
      </div>
    </div>
  </div>
</div> <!-- #home -->