<footer class="site-footer block-invert">
  <div class="container">
    <img class="site-footer-logo img-responsive" src="assets/site-footer-logo.png" data-sr="bottom">
    <ul class="site-footer-social-list">
      <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
      <li><a href="https://twitter.com/" target="_blank">Twitter</a></li>
      <li><a href="https://instagram.com/" target="_blank">Instagram</a></li>
      <li><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
      <li><a href="https://www.pinterest.com/" target="_blank">Pinterest</a></li>
    </ul>
    <p class="site-footer-copyright">2016 © <a href="#" target="_blank">your copyright info</a> | all rights reserved.</p>
  </div>
</footer> <!-- .site-footer -->